.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(180deg, #a8e6ff, #f7f9fc); /* Sfondo sfumato cielo */
    overflow: hidden;
}